<div
  [ngClass]="{ 'bg-[#374151]': !frame.backgroundColor }"
  [style.background-color]="frame.backgroundColor"
  [ngStyle]="
    frame.backgroundUrl
      ? { 'background-image': 'url(' + frame.backgroundUrl + ')' }
      : {}
  "
  class="relative w-[180px] sm:w-[240px] md:w-[200px] h-[110px] sm:h-[120px] rounded-lg shadow-lg hover:shadow-2xl hover:opacity-80 transition-shadow cursor-pointer card"
>
  <div class="bg-black/90 w-full absolute bottom-0 left-0 rounded-b-md">
    <span class="text-white p-2 block text-sm">
      {{ frame.name }}
    </span>
  </div>
</div>
