<header class="w-full flex p-1 border-b border-white/10">
  <div class="flex items-center gap-2 w-full justify-between">
    <div class="flex items-center">
      <button
        mat-icon-button
        (click)="toggleMenu()"
        class="group text-white hover:bg-white/10 transition-colors"
        [matTooltip]="isMenuOpen ? 'Fechar menu' : 'Abrir menu'"
      >
        <lucide-angular
          [img]="isMenuOpen ? panelLeftClose : panelLeftOpen"
          color="white"
          size="20"
        ></lucide-angular>
      </button>

      <button
        mat-icon-button
        class="group text-white hover:bg-white/10 transition-colors"
        aria-label="Home"
        matTooltip="Home"
      >
        <lucide-angular [img]="house" color="white" size="20"></lucide-angular>
      </button>
    </div>
    <div class="flex items-center">
      <button
        mat-icon-button
        class="group text-white hover:bg-white/10 transition-colors"
        aria-label="Notificações"
        matTooltip="Notificações"
      >
        <lucide-angular [img]="bell" color="white" size="20"></lucide-angular>
      </button>

      <button
        mat-icon-button
        class="group text-white hover:bg-white/10 transition-colors"
        aria-label="Configurações"
        matTooltip="Configurações"
      >
        <lucide-angular
          [img]="settings"
          color="white"
          size="20"
        ></lucide-angular>
      </button>

      <button
        mat-icon-button
        class="group text-white hover:bg-white/10 transition-colors"
        aria-label="Perfil"
        matTooltip="Perfil"
      >
        <lucide-angular
          [img]="circleUser"
          color="white"
          size="20"
        ></lucide-angular>
      </button>
    </div>
  </div>
</header>
