<div
  *ngIf="task"
  [ngStyle]="{ backgroundColor: task.coverColor || '#374151' }"
  class="group rounded-lg flex items-center gap-2 p-2 px-3 cursor-pointer hover:border-2"
>
  <div class="checkbox-wrap flex items-center justify-center w-6 h-6 overflow-hidden">
    <div class="checkbox-inner opacity-0 transform scale-90 -translate-x-2 transition-all duration-200 ease-in-out group-hover:opacity-100 group-hover:scale-100 group-hover:translate-x-0">
        <p-checkbox [(ngModel)]="task.completed" binary="true"></p-checkbox>
    </div>
  </div>
  <p class="absolute task-title transition-transform duration-200 ease-in-out group-hover:translate-x-7">{{ task!.title }}</p>
</div>
