<p-toast />
<p-confirmDialog />
<div
  *ngIf="isOpen()"
  class="bg-gray-900 rounded-lg w-[272px] cursor-pointer shadow-lg hover:shadow-2xl hover:bg-opacity-95 transition-shadow"
>
  <div class="justify-between flex p-4 items-center">
  <div class="text-white">{{ taskList?.title || 'Sem nome' }}</div>
    <div>
      <button
        (click)="toggleOpen()"
        class="group text-white hover:bg-white/10 transition-colors p-2 rounded-full"
      >
        <lucide-angular
          [img]="minimize"
          color="white"
          size="18"
        ></lucide-angular>
      </button>
      <button
        (click)="menu.toggle($event)"
        class="group text-white hover:bg-white/10 transition-colors p-2 rounded-full"
      >
        <lucide-angular
          [img]="ellipsis"
          color="white"
          size="18"
        ></lucide-angular>
      </button>
      <p-menu #menu [model]="items" [popup]="true" />
    </div>
  </div>
  <div class="px-3 gap-2 flex flex-col">
    @for (task of taskList?.tasks ?? []; track $index) {
    <app-task [task]="task"></app-task>
    }
  </div>
  <div class="p-3">
    <div
      [ngClass]="isEditMode() ? 'bg-white/10' : ''"
      class="flex gap-3 p-1 rounded-lg shadow-lg cursor-pointer hover:bg-white/10 transition-colors min-w-[200px]"
    >
      <div
        *ngIf="!isEditMode()"
        class="flex gap-1 items-center"
        (click)="AddCard()"
      >
        <lucide-angular [img]="plus" color="white" size="18"></lucide-angular>

        <div class="text-white p-1">Adicionar card</div>
      </div>
      <form
        [formGroup]="formTask"
        (ngSubmit)="Submit()"
        *ngIf="isEditMode()"
        class="flex gap-2 items-center px-1 "
      >
        <input
          type="text"
          formControlName="title"
          class="text-white bg-transparent p-1 rounded-lg w-40 outline-none border-none"
          placeholder="Título da lista"
        />
        <div class="flex gap-1 items-center">
          <button type="submit">
            <lucide-angular
              [img]="check"
              color="white"
              size="20"
              class="hover:bg-white/15 rounded-full transition-colors"
            ></lucide-angular>
          </button>
          <button (click)="close()" type="button">
            <lucide-angular
              [img]="x"
              color="red"
              size="20"
              class="hover:bg-white/15 rounded-full transition-colors"
            ></lucide-angular>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="!isOpen()" class="w-15 [writing-mode:vertical-rl]">
  <div class="bg-gray-900 rounded-lg p-2 flex items-center">
    <button
      (click)="toggleOpen()"
      class="group text-white hover:bg-white/10 transition-colors p-2 rounded-full"
    >
      <lucide-angular [img]="maximize" color="white" size="18"></lucide-angular>
    </button>
  <div class="text-white py-2">{{ taskList?.title || 'Sem nome' }}</div>
  </div>
</div>
